<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ServletCos</display-name>
    <servlet-name>ServletCos</servlet-name>
    <servlet-class>db.ServletCos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCos</servlet-name>
    <url-pattern>/ServletCos</url-pattern>
  </servlet-mapping>
  <display-name>SiteInstrumente</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>aa</display-name>
    <servlet-name>aa</servlet-name>
    <servlet-class>db.aa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aa</servlet-name>
    <url-pattern>/aa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletCos</display-name>
    <servlet-name>servletCos</servlet-name>
    <servlet-class>db.servletCos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletCos</servlet-name>
    <url-pattern>/servletCos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletStergereCos</display-name>
    <servlet-name>servletStergereCos</servlet-name>
    <servlet-class>db.servletStergereCos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletStergereCos</servlet-name>
    <url-pattern>/servletStergereCos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletStergereInstrument</display-name>
    <servlet-name>servletStergereInstrument</servlet-name>
    <servlet-class>db.servletStergereInstrument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletStergereInstrument</servlet-name>
    <url-pattern>/servletStergereInstrument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletAdaugaInstrument</display-name>
    <servlet-name>servletAdaugaInstrument</servlet-name>
    <servlet-class>db.servletAdaugaInstrument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletAdaugaInstrument</servlet-name>
    <url-pattern>/servletAdaugaInstrument</url-pattern>
  </servlet-mapping>
</web-app>